.active {
      display: block;
}

img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      display: none;
}

.container {
      position: relative;
}

.slides {
      height: 500px;
}
.next,
.prev {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
}

.next {
      top: 5px;
}

.prev {
      bottom: 5px;
}
