.active {
      display: block;
}

img {
      max-width: 100%;
      display: none;
}

.container {
      position: relative;
}

.slides {
}
.next,
.prev {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
}

.next {
      top: 5px;
}

.prev {
      bottom: 5px;
}
